<!DOCTYPE html>
<html>
<head>
<!-- <script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/oneiron.js"></script> -->
<meta charset="UTF-8">
<!-- <title>Insert title here</title> -->
</head>
<!-- <form id="frmtest">
	<input type="text" id="name" name="name" placeholder="이름쓰시오"/>
	<input type="text" id="type" name="type"/>
</form> -->
<body>
<!-- 	<button type="button" id="btnGenId">아이디 자동생성 테스트</button>
	<button type="button" id="btnTest">테스트버튼</button>
5678345 정말메인
	<div id="testDiv"></div> -->
</body>

<script>
	location.href = "/intro/home";
	/* getEl("btnTest").event("click", function(){
		ajaxJsonParam("/findUserInfo", $("#frmtest").serializeObject(), function(data){
			getEl("testDiv").innerHTML = JSON.stringify(data);
			console.log(data);
		});
	});
	
	getEl("btnGenId").event("click", function(){
		ajaxJsonParam("/createId", $("#frmtest").serializeObject(), function(data){
			getEl("testDiv").innerHTML = JSON.stringify(data);
			console.log(data);
		});
	}); */
</script>

</html>