<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <title layout:title-pattern="$LAYOUT_TITLE : $CONTENT_TITLE">oneIron</title>
    <!-- 공통 css, js, meta tag -->
    <th:block th:include="fragments/commonHeader"></th:block>
</head>
<body>
    <div class="container mw-100 h-100">
    	<div class="row align-items-center h-100">
		    <!-- page content body 구성 -->
		    <th:block layout:fragment="content"></th:block>
    	</div>
    </div>

    <!-- page content javascript -->
    <th:block layout:fragment="pageCustomScript"></th:block>
</body>
</html>
